<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>862188318289-e0bpcg0glurc4pugktomaaebdj4cfmoi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.862188318289-e0bpcg0glurc4pugktomaaebdj4cfmoi</string>
	<key>API_KEY</key>
	<string>AIzaSyCSOq7FMDLZoZdU80Uc4oFNAonSAtk0Imk</string>
	<key>GCM_SENDER_ID</key>
	<string>862188318289</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.resturantapp</string>
	<key>PROJECT_ID</key>
	<string>resturantapp-94ba9</string>
	<key>STORAGE_BUCKET</key>
	<string>resturantapp-94ba9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:862188318289:ios:20e51649c0f13fe8079270</string>
</dict>
</plist>